<a href="https://colab.research.google.com/github/fikahusnaamalinamubarok/Hypothesis-Testing-Concept/blob/main/HW_Hypotesis_Testing_Concept_FikaHusnaAmalinaMubarok.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Library

In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as at

Import data sheet

In [ ]:
df = pd.read_csv("marketing_campaign.csv", sep="\t")

In [ ]:
df.shape # memiliki 29 colums and 2240 rows

(2240, 29)

Calculate simple size

In [ ]:
N = 2240 #jumlah populasi
e = 0.05 # parameter margin of errornya

In [ ]:
slovin = N/(1+N * e**2)

In [ ]:
def slovin(N,e):
  return N/(1+N * e**2)

In [ ]:
slovin (N,e)

339.3939393939393

In [ ]:
df.sampel1 = df.sample(n=400)

In [ ]:
df.sampel1['Education'].value_counts()

Graduation    201
PhD            83
Master         64
2n Cycle       41
Basic          11
Name: Education, dtype: int64

In [ ]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [ ]:
df.tail()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [ ]:
df.dropna(axis=0) # menghilangkan data null

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

Menentukan H0 dan H1, 
Dilihat dari data di atas untuk :
H0 : Perbedaan pendidikan tidak mempengaruhi Income
H1 : Perbedaan pendidikan mempengaruhi perbedaan income

In [ ]:
df['Education'].value_counts() # kita lihat dulu ada apa saja di education

Graduation    1127
PhD            486
Master         370
2n Cycle       203
Basic           54
Name: Education, dtype: int64

In [ ]:
df = df.dropna(axis=0)

In [ ]:
df_graduate = df[df['Education']=='Graduation']

In [ ]:
df_phd = df[df['Education']=='PhD']

In [ ]:
df_master = df[df['Education']=='Master']

In [ ]:
df_2ncycle = df[df['Education']=='2n Cycle']

In [ ]:
df_basic = df[df['Education']=='Basic']

In [ ]:
print(df_graduate)

In [ ]:
print(df_phd)

In [ ]:
print(df_master)

In [ ]:
print(df_2ncycle)

In [ ]:
print(df_basic)

Mencari Mean dengan cara group

In [ ]:
df.groupby(['Education'])['Income'].mean()

Education
2n Cycle      47633.190000
Basic         20306.259259
Graduation    52720.373656
Master        52917.534247
PhD           56145.313929
Name: Income, dtype: float64

Menghitung P Value

In [ ]:
income_pvalue = st.f_oneway(df_graduate['Income'],
                            df_phd['Income'],
                            df_master['Income'],
                            df_2ncycle['Income'],
                            df_basic['Income']).pvalue
income_pvalue

1.6677281316366318e-22

Membuat Keputusan

In [ ]:
if income_pvalue > 0.05:
  print('Tidak cukup bukti menyatakan rata-rata berbeda signifikan')
else:
  print('Cukup bukti menyatakan rata-rata berbeda signifkan')

Cukup bukti menyatakan rata-rata berbeda signifkan

Uji Hipotesis ( Anova )

In [ ]:
df_iris = pd.read_csv('Iris.csv')

In [ ]:
df_iris

In [ ]:
df_iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df_setosa = df_iris[df_iris['Species'] == 'Iris-setosa']
df_virginica = df_iris[df_iris['Species'] == 'Iris-virginica']
df_versicolor = df_iris[df_iris['Species'] == 'Iris-versicolor']

In [ ]:
df_iris.groupby(['Species'])['SepalWidthCm'].mean()

Species
Iris-setosa        3.418
Iris-versicolor    2.770
Iris-virginica     2.974
Name: SepalWidthCm, dtype: float64

In [ ]:
st.f_oneway(df_setosa['SepalWidthCm'],df_virginica['SepalWidthCm'],df_versicolor['SepalWidthCm'])

F_onewayResult(statistic=47.36446140299383, pvalue=1.3279165184572065e-16)